*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #180000;
    font-size: 17px;
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    animation: bodyAnime 2s;
}

.title{
    margin: 0;
    padding: 5px 30px 0;
    font-weight: bold;

}
span{
    color: red;
    padding: 0 5px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    animation: askAnimation 5s;
}
.hr{
    margin: 10px 0;
    content: '';
    border: none;
    width: 100%;
    height: 1px;
    background-color: #360a0a;
}

.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(B.PNG);
    background-position: center;
    background-repeat: no-repeat;
    height: 70%;
    border-radius: 20px;
    margin: 40px 10px;
}
.txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 20px;
}
.txt h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5px;
}
.p p{
    padding: 0 20px;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, .7);
}
.link{
    text-decoration: none;
    border: none;
    border-radius: 15px;
    padding: 7px;
    background: rgb(255, 57, 90);
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}
.link:hover{
    background-color: rgb(217, 32, 63);
}

footer{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .4);
}

@keyframes bodyAnime {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes askAnimation {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}